.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.navbar-1 {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 55px;
  padding-left: 55px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 16px -11px rgba(0, 0, 0, 0.47);
}

.navbar-1-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  min-height: 85px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-1-link {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.navbar-1-link:hover {
  color: #66b1eb;
}

.navbar-1-line-break {
  display: inline-block;
  width: 2px;
  height: 25px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #f4f7fa;
}

.navbar-1-button {
  padding: 12px 25px;
  border-radius: 3px;
  background-color: #446beb;
  font-size: 12px;
}

.navbar-1-button.signup {
  margin-right: 0px;
  border-radius: 10px;
  background-color: #66b1eb;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.navbar-1-button.signup:hover {
  background-color: #539bd3;
}

.navbar-1-button.login {
  margin-right: 15px;
  margin-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #66b1eb;
  border-radius: 10px;
  background-color: transparent;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  font-family: Poppins, sans-serif;
  color: #66b1eb;
  font-size: 14px;
  font-weight: 600;
}

.navbar-1-button.login:hover {
  background-color: #e9f6ff;
  color: #66b1eb;
}

.header-1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  min-height: 80vh;
  min-width: auto;
  padding-right: 55px;
  padding-left: 55px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e9efff;
  background-image: url('../images/Background.png');
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: repeat;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.header-1-container {
  display: block;
  max-width: 1200px;
  margin-top: -37px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header-1-container.social-proof {
  max-width: 1300px;
  margin-top: 0px;
  text-align: center;
}

.header-1-container.value {
  margin-top: 0px;
  padding-top: 13px;
}

.hero-1-text {
  margin-bottom: 5px;
  color: #446beb;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.header-1-h1 {
  max-width: 15ch;
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 64px;
  line-height: 74px;
  font-weight: 600;
}

.button-5 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  padding: 12px 38px;
  float: left;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 70px;
  background-color: #446beb;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #fff;
  text-align: left;
  cursor: pointer;
}

.button-5:hover {
  box-shadow: 3px 2px 19px 0 rgba(0, 0, 0, 0.28);
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.button-5-img {
  margin-left: 9px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.button-5-link {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.button-standard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 220px;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px;
  background-color: #66b1eb;
  -webkit-transition: background-color 200ms ease, all 200ms ease;
  transition: background-color 200ms ease, all 200ms ease;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.button-standard:hover {
  background-color: #539bd3;
}

.button-standard.price {
  max-width: 100%;
}

.button-standard.price.white {
  background-color: #fff;
  color: #66b1eb;
}

.paragraph {
  max-width: 50ch;
  margin-top: 84px;
  margin-bottom: 16px;
  font-family: Poppins, sans-serif;
  color: #eef2f5;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.paragraph.dark {
  margin-top: 16px;
  color: #4e4b66;
}

.paragraph.dark.middle {
  display: inline-block;
  margin-bottom: 90px;
  text-align: center;
}

.paragraph.footer {
  color: rgba(238, 242, 245, 0.4);
}

.paragraph.header {
  margin-top: 50px;
}

.paragraph.social {
  margin-top: 34px;
}

.paragraph.price {
  margin-top: 0px;
  color: #494949;
  text-align: center;
}

.container {
  max-width: 1300px;
  text-align: center;
}

.section {
  padding: 40px 55px;
  background-color: #3a4856;
}

.section.social {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}

.paragraph-2 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Poppins, sans-serif;
  color: #949494;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.image {
  max-width: 120px;
  margin-right: 100px;
}

.brand-logo {
  display: inline-block;
  max-width: 120px;
  opacity: 1;
}

.grid {
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.social-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-link-wrap.negative-ad {
  margin-left: -1px;
}

.footer-2-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.row-9 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-2 {
  margin-right: 10px;
}

.footer-2-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-2-link {
  margin-bottom: 5px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.footer-2-link:hover {
  color: #bebebe;
}

.footer-2-link.copy {
  color: rgba(255, 255, 255, 0.4);
}

.image-12 {
  margin-bottom: 25px;
}

.footer-2-header {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.footer-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  margin-bottom: 0px;
  padding-right: 55px;
  padding-left: 55px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #28333e;
}

.footer-link-2 {
  color: #0052cc;
  font-weight: 500;
  text-decoration: none;
}

.cta-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  margin-bottom: 0px;
  padding-right: 55px;
  padding-left: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.cta-2-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cta-2-text {
  display: block;
  max-width: 600px;
  margin: 5px auto 25px;
  color: #fff;
  font-size: 29px;
  line-height: 39px;
  font-weight: 500;
  text-align: center;
}

.button-standard-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 155px;
  padding: 12px 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 4px;
  background-color: #446beb;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-weight: 500;
}

.button-standard-2:hover {
  box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.font-awesome {
  margin-right: 8px;
}

.testimonial-section {
  position: relative;
  overflow: hidden;
  padding: 88px 3% 163px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3a4856;
}

.profile-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 100%;
  max-width: 750px;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.mask {
  overflow: visible;
  background-color: transparent;
  box-shadow: 0 20px 50px 0 rgba(70, 137, 215, 0.2);
}

.arrow-left {
  left: -25px;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  background-color: #66b1eb;
  box-shadow: 0 5px 10px 0 rgba(27, 45, 69, 0.1);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #fff;
}

.arrow-left:hover {
  background-color: #539bd3;
  box-shadow: 0 0 10px 0 rgba(27, 45, 69, 0.1);
}

.standard-paragraph {
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #33475c;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0px;
}

.slide-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 350px;
  padding: 90px 60px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  color: #fff;
}

.title-paragraph-white {
  max-width: 590px;
  margin-bottom: 32px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  letter-spacing: -0.03em;
}

.author-title {
  margin-bottom: 0px;
  opacity: 0.7;
  font-family: Poppins, sans-serif;
  color: #33475c;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none;
}

.content-white-h2 {
  margin-top: 0px;
  margin-bottom: 22px;
  color: #fff;
  font-size: 54px;
  line-height: 1;
  letter-spacing: -0.03em;
}

.profile-image {
  margin-right: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 100px;
}

.faq-title {
  display: inline-block;
  margin-bottom: 4px;
  font-family: Poppins, sans-serif;
  color: #33475c;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.testimonial-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-2 {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.slide-nav {
  display: none;
}

.profile-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slide {
  overflow: hidden;
  margin-right: 50px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(70, 137, 215, 0.2);
  border-radius: 15px;
  background-color: #fff;
}

.arrow-icon {
  color: #fff;
  font-size: 15px;
}

.arrow-right {
  left: auto;
  top: 0%;
  right: -25px;
  bottom: 0%;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  background-color: #66b1eb;
  box-shadow: 0 5px 10px 0 rgba(27, 45, 69, 0.1);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.arrow-right:hover {
  background-color: #539bd3;
  box-shadow: 0 16px 10px 0 rgba(27, 45, 69, 0.1);
}

.colour-block-sml-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #e2fbfb;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 320px;
  margin-right: 35px;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.p1-c-w {
  display: block;
  max-width: 580px;
  margin-right: auto;
  margin-bottom: 53px;
  margin-left: auto;
  color: #fff;
  line-height: 25px;
  text-align: center;
}

.image-sml {
  width: 15px;
}

.h2-c-w {
  display: block;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.colour-block-sml-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #fceceb;
}

.feature-heading {
  margin-top: 13px;
  margin-bottom: 4px;
  color: #fff;
  font-size: 16px;
}

.container-flex-vert {
  display: block;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.section-content-blue {
  padding: 80px 5%;
  background-color: #eef2f5;
}

.tab-on {
  min-height: 90px;
  min-width: 200px;
  margin-bottom: 25px;
  border-radius: 8px;
  background-color: transparent;
  -webkit-transition: padding 200ms ease, box-shadow 200ms ease;
  transition: padding 200ms ease, box-shadow 200ms ease;
}

.tab-on:hover {
  padding-top: 25px;
  background-color: rgba(203, 232, 255, 0.22);
  box-shadow: 1px 1px 15px -13px #000;
}

.tab-on.w--current {
  min-height: 90px;
  margin-bottom: 25px;
  padding-top: 28px;
  padding-bottom: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 7px 7px 20px -14px rgba(102, 177, 235, 0.6);
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.paragraph-2-w {
  max-width: 410px;
  color: #fff;
  line-height: 25px;
}

.phone {
  width: 550px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
}

.paragraph-3 {
  max-width: 30ch;
  margin-bottom: 25px;
  font-family: Poppins, sans-serif;
  color: rgba(56, 69, 100, 0.87);
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.paragraph-3.space-btm {
  margin-bottom: 25px;
}

.paragraph-3.light {
  display: inline;
  max-width: 20ch;
  color: hsla(0, 0%, 98.8%, 0.8);
  text-align: center;
}

.h2 {
  margin-bottom: 25px;
  color: #213055;
  font-size: 34px;
  line-height: 39px;
}

.feature-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin-bottom: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-content-grey {
  padding: 120px 5% 80px 55px;
  background-color: #eef2f5;
}

.button-content {
  margin-top: 10px;
  margin-left: 0px;
  padding: 15px 30px;
  border-radius: 100px;
  background-color: #5a54ff;
  color: #fff;
}

.columns-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tick-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 6px 6px 13px 0 rgba(164, 174, 175, 0.17);
}

.feature-wrap-left {
  width: 15%;
  height: 100%;
}

.column {
  padding-top: 35px;
  padding-left: 35px;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.h4-2 {
  margin-top: 0px;
  margin-bottom: 11px;
  font-family: Poppins, sans-serif;
  color: #33475c;
  font-size: 32px;
  line-height: 25px;
  font-weight: 600;
}

.h4-2.light {
  color: #fcfcfc;
  line-height: 34px;
}

.feature-wrap-right {
  width: 85%;
  height: 100%;
}

.pricing-button {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid #ebecf0;
  border-radius: 100px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #7540ee;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pricing-button:hover {
  background-color: #7540ee;
  color: #fff;
}

.pricing-button.white {
  color: #fff;
}

.pricing-button.white:hover {
  background-color: #fff;
  color: #7540ee;
}

.pricing-details-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #7540ee;
}

.pricing-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 72px 3% 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-column-03 {
  width: 33.333333333333336%;
  padding: 10px;
}

.pricing-column-03.add {
  width: 100%;
}

.pricing-check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-card {
  padding: 20px 20px 35px 30px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 35px 0 #ebecf0;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.pricing-card:hover {
  box-shadow: 6px 6px 20px 8px #ebecf0;
}

.pricing-card.purple {
  background-color: #7540ee;
}

.heading {
  font-family: Poppins, sans-serif;
  color: #20355a;
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
  text-align: left;
  letter-spacing: -0.6px;
}

.heading.middle {
  margin-bottom: 0px;
  text-align: center;
}

.heading.middle.over {
  margin-bottom: 70px;
}

.heading.light {
  color: #fff;
}

.pricing-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pricing-wrap.wra {
  display: none;
}

.pricing-text {
  max-width: 560px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #0a1f44;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.pricing-text.white {
  color: #fff;
}

.pricing-text.star {
  overflow: visible;
  max-width: 25ch;
  min-width: auto;
  margin-left: 0px;
  opacity: 0.6;
}

.pricing {
  margin-right: 2px;
  margin-left: 2px;
  font-family: Poppins, sans-serif;
  color: #1e84d8;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
}

.pricing.white {
  color: #fff;
}

.container-4 {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.date {
  padding-bottom: 3px;
  font-family: Poppins, sans-serif;
  color: #474747;
  font-size: 16px;
}

.date.white {
  color: #fff;
}

.pricing-h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0a1f44;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pricing-h3.white {
  color: #fff;
}

.pricing-details {
  max-width: 200px;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  color: #b0b7c3;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
}

.title-block {
  margin-bottom: 55px;
}

.check {
  margin-right: 10px;
}

.pricing-check-wrap {
  margin-bottom: 35px;
}

.text-span {
  color: #7540ee;
}

.grid-2 {
  margin-top: 40px;
  margin-bottom: 40px;
  grid-column-gap: 48px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-13 {
  max-height: 100px;
  max-width: none;
  margin-bottom: 28px;
}

.div-block {
  display: inline;
  text-align: center;
}

.div-block-2 {
  display: inline-block;
  text-align: center;
}

.div-block-3 {
  display: inline-block;
  text-align: center;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-4 {
  max-width: 1300px;
  min-width: 1300px;
}

.div-block-4.footer {
  margin-top: 62px;
}

.footer-2-column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-2-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-2-link-2 {
  margin-bottom: 5px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.footer-2-link-2:hover {
  color: #adadad;
}

.footer-2-header-2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.footer-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  margin-bottom: 120px;
  padding-right: 55px;
  padding-left: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #28333e;
}

.text-span-2 {
  color: #66b1eb;
}

.feature-text {
  font-family: Poppins, sans-serif;
  color: #848199;
  font-size: 15px;
}

.feature-text.white-text {
  color: #fff;
}

.check-2 {
  width: 24px;
  margin-right: 16px;
}

.price-type {
  margin-top: 0px;
  font-family: Poppins, sans-serif;
  color: #231d4f;
}

.price-type.white-text {
  color: #fff;
}

.price-card-base {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-features {
  margin-top: 22px;
  margin-bottom: 32px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  min-width: 150px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #fef5fb;
  color: #f496d1;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
}

.button.button-white {
  background-color: #f496d1;
  color: #5243c2;
}

.length-text {
  color: #848199;
  font-size: 22px;
}

.length-text.white-text {
  color: #d4d3db;
}

.pricing-text-2 {
  font-family: Poppins, sans-serif;
  color: #848199;
  font-size: 15px;
}

.pricing-text-2.white-text {
  font-family: Poppins, sans-serif;
  color: #fff;
}

.pricing-2 {
  font-family: Poppins, sans-serif;
}

.pricing-2.white-text {
  color: #fff;
}

.price-card {
  padding: 32px 34px;
}

.pricing-card-featured {
  position: relative;
  top: -35px;
  width: 105%;
  height: 100%;
  padding: 32px 22px;
  border-radius: 30px;
  background-color: #33475c;
  box-shadow: 2px 44px 42px 0 rgba(102, 177, 235, 0.29);
}

.pricing-base {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 250px;
  margin-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 35px;
  background-color: #fff;
}

.check-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-grid {
  width: 100%;
  margin-top: 74px;
  grid-column-gap: 8px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 30px;
  box-shadow: 1px 1px 18px -12px #000;
}

.heading-2 {
  font-family: Poppins, sans-serif;
}

.heading-3 {
  font-family: Poppins, sans-serif;
}

.pricing-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-top.override {
  margin-bottom: 8px;
}

.feature-text-mobile {
  display: none;
  color: #848199;
  font-size: 15px;
}

.button-wrap {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.price-grid {
  width: 100%;
  grid-column-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.feature-check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-type-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #539bd3;
  font-size: 25px;
  text-align: center;
}

.check-3 {
  width: 18px;
  margin-right: 16px;
}

.pricing-column-white {
  padding: 21px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 16px 16px 42px 0 rgba(23, 18, 63, 0.12);
}

.feature-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-text-2 {
  font-family: Poppins, sans-serif;
  color: #848199;
  font-size: 15px;
}

.button-pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 52px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #f496d1;
  color: #5243c2;
  font-size: 15px;
  text-align: center;
}

.pricing-column {
  display: block;
  padding: 21px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-column-features {
  padding: 21px;
}

.feature-grid {
  justify-items: start;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.heading-4 {
  margin-top: 15px;
}

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  min-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form-title-cf2 {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.text-field-cf2 {
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent #cacaca;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-align: left;
}

.text-field-cf2:focus {
  border-bottom-color: #f76874;
}

.text-field-cf2.big {
  height: 100px;
}

.error-message-cf2 {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.form-cf2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.submit-button-cf2 {
  margin-top: 20px;
  margin-left: 12px;
  padding: 10px 0px 5px;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.submit-button-cf2:hover {
  border-bottom: 3px solid #f76874;
}

.form-subtitle-cf2 {
  font-family: Poppins, sans-serif;
  color: #969696;
  font-size: 18px;
  line-height: 24px;
}

.contact-form-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: auto;
  max-height: 80vh;
  max-width: 1400px;
  min-height: 60vh;
  margin: 60px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 1px 0 26px 3px #c9c9c9;
}

.success-message-cf2 {
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f76874;
  background-color: transparent;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .navbar-1 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .nav-menu-2 {
    margin-right: 0px;
    margin-left: 15px;
    padding-top: 114px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 0px 0px 10px 10px;
    background-color: #f4f7fa;
  }

  .navbar-1-link {
    color: #122658;
  }

  .navbar-1-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px;
  }

  .navbar-1-button.signup {
    margin: 15px;
  }

  .navbar-1-button.login {
    margin-left: 15px;
  }

  .icon-2 {
    color: #000;
  }

  .header-1 {
    display: block;
    min-height: 70vh;
    min-width: auto;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-position: 50% 0%;
  }

  .header-1-h1 {
    font-size: 51px;
    line-height: 62px;
  }

  .button-standard.hero {
    margin-bottom: 30px;
  }

  .paragraph {
    max-width: 35ch;
  }

  .paragraph.header {
    margin-top: 40px;
  }

  .paragraph.social {
    margin-top: 32px;
  }

  .section.social {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .paragraph-2 {
    font-size: 18px;
  }

  .brand-logo {
    padding-right: 10px;
    padding-left: 10px;
  }

  .grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer-2-link.copy {
    max-width: 20ch;
  }

  .footer-2 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .cta-2 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .cta-2-text {
    font-size: 27px;
  }

  .testimonial-section {
    padding-top: 85px;
  }

  .arrow-left {
    left: -10px;
  }

  .arrow-right {
    right: -10px;
  }

  .tabs-menu {
    margin-right: 0px;
  }

  .container-flex-vert {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .tab-on {
    width: 100%;
    min-height: 90px;
    margin-bottom: 15px;
  }

  .tab-on.w--current {
    width: 100%;
    margin-bottom: 15px;
  }

  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .phone {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph-3.light {
    font-size: 16px;
    line-height: 18px;
  }

  .section-content-grey {
    padding-top: 60px;
  }

  .h4-2.light {
    line-height: 34px;
  }

  .pricing-button {
    margin-right: auto;
    margin-left: auto;
  }

  .pricing-details-wrap {
    display: block;
  }

  .pricing-section {
    padding-top: 70px;
  }

  .pricing-column-03 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .pricing-card {
    padding-right: 15px;
    padding-left: 15px;
  }

  .heading {
    max-width: 15ch;
  }

  .pricing-text {
    font-size: 14px;
  }

  .container-4 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .div-block {
    padding-right: 10px;
    padding-left: 10px;
  }

  .container-5 {
    display: block;
    max-width: 1300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .div-block-4 {
    display: block;
    max-width: none;
    min-width: auto;
    margin-top: 15%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    text-align: left;
  }

  .footer-3 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .price-card {
    position: relative;
  }

  .pricing-card-featured {
    top: 0px;
  }

  .pricing-grid {
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .feature-text-mobile {
    display: block;
    margin-right: 8px;
  }

  .price-grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .pricing-column-white {
    padding: 25px;
  }

  .pricing-column {
    padding: 15px;
  }

  .pricing-column-features {
    display: none;
    padding: 15px;
  }

  .feature-grid {
    text-align: center;
  }

  .contact-form-wrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .navbar-1 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header-1 {
    min-height: 80vh;
    padding-right: 15px;
    padding-left: 15px;
    background-position: 50% 0%;
  }

  .header-1-h1 {
    font-size: 45px;
    line-height: 59px;
  }

  .paragraph {
    max-width: 30ch;
  }

  .paragraph.dark.middle {
    margin-top: 16px;
  }

  .paragraph.header {
    margin-top: 40px;
  }

  .grid {
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .footer-2-column {
    margin-bottom: 31px;
  }

  .footer-2-container {
    max-width: 1300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-2-link.copy {
    margin-bottom: 31px;
  }

  .footer-2-header {
    margin-top: 26px;
  }

  .footer-2 {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .cta-2-text {
    text-align: center;
  }

  .testimonial-section {
    padding-top: 62px;
    padding-bottom: 125px;
  }

  .slide-wrap {
    padding: 90px 50px;
  }

  .tabs-menu {
    margin-right: 0px;
  }

  .section-content-blue {
    padding-top: 60px;
  }

  .paragraph-3.light {
    display: inline-block;
  }

  .feature-wrap {
    height: auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .section-content-grey {
    padding-top: 66px;
    padding-left: 5%;
  }

  .pricing-column-03 {
    width: 100%;
    margin-bottom: 35px;
  }

  .heading {
    max-width: 15ch;
    font-size: 40px;
  }

  .pricing-wrap {
    max-width: 420px;
    margin-right: auto;
    margin-left: auto;
  }

  .grid-2 {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .container-5 {
    max-width: none;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-4 {
    max-width: none;
    min-width: auto;
    margin-top: 25%;
  }

  .footer-2-header-2 {
    margin-top: 26px;
  }

  .footer-3 {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .price-card {
    padding-right: 24px;
    padding-left: 24px;
  }

  .price-grid {
    max-width: 460px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .pricing-column {
    border-radius: 20px;
    background-color: #fff;
  }

  .feature-grid {
    grid-row-gap: 14px;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .contact-form-wrapper {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .header-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 80vh;
    min-width: auto;
    padding-right: 15px;
    padding-left: 15px;
    background-position: 50% 0%;
    background-size: auto;
  }

  .header-1-h1 {
    font-size: 42px;
    line-height: 48px;
  }

  .button-standard.hero {
    margin-bottom: 59px;
  }

  .paragraph {
    max-width: 28ch;
  }

  .paragraph.header {
    margin-top: 45px;
  }

  .brand-logo {
    max-width: 120px;
  }

  .grid {
    justify-items: stretch;
    grid-auto-flow: row;
    grid-column-gap: 8px;
    grid-row-gap: 29px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .testimonial-section {
    margin-top: 76px;
    padding-bottom: 67px;
  }

  .profile-block {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .arrow-left {
    max-height: 40px;
    max-width: 40px;
  }

  .slide-wrap {
    padding: 38px;
  }

  .profile-image {
    margin-bottom: 15px;
  }

  .container-2 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .arrow-right {
    max-height: 40px;
    max-width: 40px;
  }

  .tabs-menu {
    min-width: auto;
    margin-right: 0px;
  }

  .tab-on.w--current {
    width: auto;
    max-width: none;
    min-width: auto;
  }

  .feature-wrap {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .section-content-grey {
    padding-bottom: 19px;
    padding-left: 5%;
  }

  .feature-wrap-left {
    margin-right: 14px;
  }

  .column {
    padding-left: 0px;
  }

  .h4-2 {
    line-height: 34px;
  }

  .pricing-section {
    padding-top: 60px;
    padding-bottom: 0px;
  }

  .pricing-card {
    padding-right: 25px;
    padding-left: 25px;
  }

  .heading {
    line-height: 44px;
  }

  .pricing {
    margin-left: 0px;
  }

  .grid-2 {
    grid-row-gap: 50px;
  }

  .div-block-4 {
    max-width: none;
    min-width: auto;
    margin-top: 0%;
  }

  .div-block-4.footer {
    margin-top: -33px;
  }

  .menu-button {
    border-radius: 10px;
  }

  .pricing-card-featured {
    width: 100%;
  }

  .pricing-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .pricing-column {
    margin-top: 22px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form-wrapper {
    width: 100%;
    border-radius: 0px;
  }
}

#w-node-9d4eca7c7c61-9d036e53 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-335088ed4c2a-9d036e53 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

#w-node-810764b70eef-9d036e53 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-0fdcea8f986d-9d036e53 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-356452e7fefc-9d036e53 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-abc79baa6f6d-9d036e53 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-abc79baa6f98-9d036e53 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-abc79baa6f9a-9d036e53 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-2c3793cd4d82-9d036e53 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 767px) {
  #w-node-4cf85eb9bc39-9d036e53 {
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
}

